---
export interface Props {
  title: string;
}
const { title } = Astro.props;

import BaseHead from '../components/BaseHead.astro';
---

<!doctype html>
<html lang="es">
  <BaseHead title="AstroTips" description="My First Page"/>
  <body class="h-screen">
        <slot />
  </body>
</html>
